PDS_HOSTNAME=pds.protocast.cacheblasters.com
HOST_BIND_PORT=3010

# openssl rand -hex 32
PDS_JWT_SECRET=
PDS_ADMIN_PASSWORD=

# Generate it, store it in a password manager or secrets store
#   openssl ecparam --name secp256k1 --genkey --noout --outform DER | tail -c +8 | head -c 32 | xxd -p -c 32
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=

# DigitalOcean Spaces (S3-compatible). Self-hosters preferring local disk:
# remove these and set PDS_BLOBSTORE_DISK_LOCATION=/pds/blocks in the compose file.

# S3 configuration. If you want to use local disk instead of S3, 
# remove these and set PDS_BLOBSTORE_DISK_LOCATION=/pds/blocks in the compose file.
PDS_BLOBSTORE_S3_BUCKET=
PDS_BLOBSTORE_S3_REGION=nyc3
PDS_BLOBSTORE_S3_ENDPOINT=https://nyc3.digitaloceanspaces.com # I use DigitalOcean Spaces, but you can use any S3-compatible service.
PDS_BLOBSTORE_S3_FORCE_PATH_STYLE=true
PDS_BLOBSTORE_S3_ACCESS_KEY_ID=
PDS_BLOBSTORE_S3_SECRET_ACCESS_KEY=
